
	<?php
		$search = "";
		$type = 1;
		if(isset($_GET["search"])){
			$search = $_GET["search"];
		}
		if(isset($_GET["type"])){
			$type = $_GET["type"];
		}
		if($search == ""){ ?>
			<div>Dữ liệu trống, xem toàn bộ sản phẩm</div>
			<?php 
				if($type == 3){
					$search = '100000000';
				}
			 ?>
		<?php 
		}
		if(($type == 3) && (!is_numeric($search))){?>
			<div>Nhập dữ liệu sai, xem toàn bộ sản phẩm</div>
		<?php
			$search = '100000000';
		}
		if($type == 1)
		{
			$sql = "select * from products where ProName like '%".$search."%'";
		}
		else if ($type == 2){
			$sql = "select * from products p join categories c on p.CatID = c.CatID where CatName like '%".$search."%'";
		}
		else if ($type == 3){
			$sql = "select * from products where ProPrice <=".$search." order by ProPrice desc";
		}
		else if($type == 5){
			$sql = "select * from products p join loairuou l on p.MaLoai = l.MaLoai where l.TenLoai like '%".$search."%'";
		}
		else{
			$sql = "select * from products where Nation like '%".$search."%'";
		}
	?>
				<?php $_SESSION['index'] = 1;
 				$_SESSION['sql'] = $sql;
				$_SESSION['phantrang'] = 1;
				$_SESSION['search'] = $search;
				$_SESSION['type'] = $type;
 				require "views/productsByCat/main.tpl"; ?>