.navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 14px !important;

      opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
    .open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
  }
  .dropdown-menu li a {
      color: #000 !important;
  }
  .dropdown-menu li a:hover {
      background-color: red !important;
  }

    .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      display: 
  }
  .carousel-caption h3 {
      color: #fff !important;
  }


  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }

input{
  margin-top: 8px;
}



.inputGR {
    width: 37.5%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.inputCA {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button:hover {
    opacity: 0.8;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}


.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 35%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 15s;
    animation: animatezoom 1s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

#SanPham,#TrangChu,#NhaSX{
  margin-top: 30px;
}

.fix{
  width: 200px;
  height: 500px;
}

ul h2{
  color: red;
}
.adding{
  margin-left: 250px;
  margin-top: 100px;
  height: 100px;
}
.cttop{
  height: 500px;
}

.bootstrap-touchspin {
    width: 150px;

}

.titleadmin{
  width: 100%;
  height: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 30pt;
  color: #F9BA58;
  background-color:  #424245;
  line-height: 80px;
  margin-bottom: 50px;
}

#updatecat{
  width: 480px;
  float:left;
}
#updatecat th{
  text-align: left;
  width: 160px;
}

.gocn{
  font-size: 14pt;
  margin-top: 150px;
}
.goct{
  font-size: 14pt;
  margin-top: 150px;
  margin-left: 350px;
}
#textboxcat{
  margin: 300px 0px 0px 900px;
  width: 200px;
}

#textboxcat button{
  margin: -62px 0 0 220px;
  width: 100px;
}
.buttonaddsp{
  margin: 180px 0 0 150px !important;
}

#txttimkiem{
  margin-top: 10px;
}
#txtQuantity{
  margin-top: 8px;
}
.gohome{
  margin: 35px 50px 0 50px;
}

#footer{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #337AB7;
  color: white;
  text-align: center;
}