<?php 
	if (isset($_POST["btnOK"])) {
		$id = $_POST["txtID"];
		$name = $_POST["inputfix"];
		$loai = $_POST["txtLoai"];
		if($name ===""){
			var_dump("Chưa nhập dữ liệu input!");
		}
		else 
		{
			if($loai === "U"){
				$sql = "update loairuou set TenLoai = '$name' where MaLoai = $id";
				$rs = write($sql);
			}
			else if($loai === "I")
			{
				$sql = "select max(MaLoai) as ID from loairuou";
				$id = 1;
				$rs = load($sql);
				while($row = mysqli_fetch_assoc($rs)){
					$id = $row["ID"];
				}
				$id = $id + 1;				
				$sql = "insert into loairuou values($id,'$name')";
				$rs = write($sql);
			}
			else if($loai === "D")
			{
				$sql = "delete from loairuou where MaLoai = $id";
				$rs = write($sql);
			}
			header('Location: updateloai.php');
		}
	}

	$sql = "select * from loairuou";
	$rs = load($sql);
	?>
	<table class="table table-hover" id="updatecat">
		<thead>
			<tr>
				<th>Mã Loại</th>
				<th>Tên Loại</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
<?php
	while($row = mysqli_fetch_assoc($rs)):
 ?>
	
		
			<tr>
				<th><?=$row['MaLoai']?></th>
				<th class="qqtext"><?=$row['TenLoai']?></th>
				<?php if($row['MaLoai'] != 5): ?>
				<th>
					<a class="btn btn-warning cat-update" href="javascript:;" role="button" data-id="<?=$row['MaLoai']?>" 
						data-name="<?=$row['TenLoai']?>">
						<span class="glyphicon glyphicon-pencil"></span></a>
					<a class="btn btn-danger cat-remove" href="javascript:;" role="button" data-id="<?=$row['MaLoai']?>"
						data-name="<?=$row['TenLoai']?>">
						<span class="glyphicon glyphicon-remove"></span></a>
				</th>
				<?php endif; ?>
			</tr>
<?php endwhile; ?>
		</tbody>
	</table>


				<form method="POST" role="form" class="navbar-fixed-top" id ="textboxcat" name="textboxcat">
					<div class="form-group">
						<label for="">Tên loại</label>
						<input type="text" class="form-control" name="inputfix" id="inputfix" placeholder="XO">
						<button name="btnOK" id="btnOK" type="submit" class="btn btn-primary">OK</button>
					</div>

					<button type="button" class="btn btn-success buttonaddsp"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
					<input type="hidden" name="txtID" id="txtID">
					<input type="hidden" name="txtLoai" id="txtLoai" value="I">
				</form>

			<script type="text/javascript">
				$('.cat-update').on('click',function(){
					var id = $(this).data('id');
					var q = $(this).data('name');
					$('#inputfix').val(q);
					$('#txtID').val(id);
					$('#txtLoai').val('U');
				});

				$('.cat-remove').on('click',function(){
					if (confirm('Remove?')) {
					    $('#txtLoai').val('D');
						var id = $(this).data('id');
						var q = $(this).data('name');
						$('#inputfix').val(q);
						$('#txtID').val(id);
						$('#btnOK').click();
					} else {
					    // Do nothing!
					}
				});

				$('.buttonaddsp').on('click',function(){
					$('#txtLoai').val('I');
				});
			</script>