<div class="row">
	<?php
	$id = 1;
	if (isset($_GET["id"])) {
		$id = $_GET["id"];
	}
	elseif (isset($_GET["maloai"])) {
		$id = $_GET["maloai"];
	}

$login  = $_SESSION["LogIn"];

if(isset($_SESSION['search'])){
$search = $_SESSION['search'];
}
if(isset($_SESSION['type'])){
$type = $_SESSION['type'];
}
//Index kiểm tra câu truy vấn của products Cat hay index,TimKiem
if($_SESSION['index'] == 0){
$sql = $_SESSION['sql'].$id;
}
else{
$sql = $_SESSION['sql'];
}
$rs = load($sql);
if(isset($_SESSION['phantrang'])){
$current_page = 1;
if(isset($_GET['page'])){
$current_page = $_GET['page'];
}
$next_page = $current_page + 1;
$prev_page = $current_page - 1;
$c_limit = 3;
$c_max = $rs->num_rows;
$c_page = ceil($c_max/$c_limit);
$c_sql = $sql." Limit ".($current_page-1)*$c_limit.",".$c_limit;
$rs_page = load($c_sql);
}
?>
<form action="addItemToCart.php" method="POST" name="f" id="f">
	<input type="hidden" name="txtProID" id="txtProID">
	<input type="hidden" name="txtQuantity" id="txtQuantity">
</form>

<?php
if ($rs->num_rows > 0 && $_SESSION['phantrang'] == 1):
while ($row = mysqli_fetch_assoc($rs_page)):
?>
<div class="col-sm-6 col-md-4">
	<div class="thumbnail fix" style="float:left; width: 100%;">
		<img src="assets/img/Ruou/<?=$row["ProID"]?>/show.png" width = "130">
		<div class="caption fixbot">
			<h5><?= $row["ProName"] ?></h5>
			<h4 style="color:red; font-weight: bold;">Giá: <?=number_format($row["ProPrice"]);?> đ</h4>
			<p style="height: 40px"><?= $row["ProDes"] ?></p>
			<br>
			<p>
				<?php if ($_SESSION["admin"] != 1) : ?>
					<a href="ChiTiet.php?proid=<?=$row["ProID"]?>&catid=<?=$row["CatID"]?>&login=<?=$_SESSION["LogIn"]?>&back=-1" class="btn btn-primary" role="button">
						<span class="glyphicon glyphicon-eye-open"></span>
						Chi tiết
					</a>
				<?php endif; ?>

				<?php if ($_SESSION["admin"] != 1 && $row["Quantity"] > 0) : ?>
					<a class="btn btn-danger" onclick="Addcart(<?=$row["ProID"]?>);" role="button" type="button" id="btnAddItemToCart" name="btnAddItemToCart" data-id="<?=$row["ProID"]?>">
						<span class="glyphicon glyphicon-shopping-cart"></span>
						Đặt mua
					</a>
				<?php endif; if ($_SESSION["admin"] != 1 && $row["Quantity"] <= 0): ?>
				<a class="btn btn-danger" role="button" type="submit" id="btnAddItemToCart" data-log = "<?= $_SESSION["LogIn"]?>" name="btnAddItemToCart" data-id="<?=$row["ProID"]?>">
					<span class="glyphicon glyphicon-fire"></span>
					Hết hàng
				</a>
			<?php endif; ?>
			<?php if ($_SESSION["admin"] == 1) : ?>
				<a class="btn btn-danger" role="button" type="submit" id="btnUpdateItem" name="btnUpdateItem" href="updateProduct.php?ID=<?=$row["ProID"]?>">
					<span class="glyphicon glyphicon-edit"></span>
					Sửa
				</a>
			<?php endif; ?>
			<?php if ($_SESSION["admin"] == 1) : ?>					
				<a class="btn btn-danger" role="button" type="submit" id="btnDeleteItem" name="btnDeleteItem" href="deleteproduct.php?id=<?=$row["ProID"]?>">
					<span class="glyphicon glyphicon-remove"></span>
					Xóa
				</a>
			<?php endif; ?>
		</p>
	</div>
</div>	
</div>
<?php
endwhile;?>
<?php if(isset($_GET["id"])): ?>
	<div style="float:left; width:100%;text-align: center;">
		<?php if ($prev_page > 0) :?>	
			<a class="btn btn-primary" href="?id=<?=$id?>&page=<?=$prev_page ?>#SanPham" role="button">
				<span class="glyphicon glyphicon-arrow-left"></span>
				Prev
			</a>
		<?php endif;
		if ($next_page <= $c_page) :?>
		<a class="btn btn-primary" href="?id=<?=$id?>&page=<?=$next_page ?>#SanPham" role="button">
			<span class="glyphicon glyphicon-arrow-right"></span>
			Next
		</a>
	<?php endif;?>
</div>

<?php elseif(isset($_GET["maloai"])): ?>
	<div style="float:left; width:100%;text-align: center;">
		<?php if ($prev_page > 0) :?>	
			<a class="btn btn-primary" href="?maloai=<?=$id?>&page=<?=$prev_page ?>#SanPham" role="button">
				<span class="glyphicon glyphicon-arrow-left"></span>
				Prev
			</a>
		<?php endif;
		if ($next_page <= $c_page) :?>
		<a class="btn btn-primary" href="?maloai=<?=$id?>&page=<?=$next_page ?>#SanPham" role="button">
			<span class="glyphicon glyphicon-arrow-right"></span>
			Next
		</a>
	<?php endif;?>
</div>

<?php else: ?>

	<div style="float:left; width:100%;text-align: center;">
		<?php if ($prev_page > 0) :?>	
			<a class="btn btn-primary" href="?search=<?=$search?>&type=<?=$type?>&page=<?=$prev_page ?>#SanPham" role="button">
				<span class="glyphicon glyphicon-arrow-left"></span>
				Prev
			</a>
		<?php endif;
		if ($next_page <= $c_page) :?>
		<a class="btn btn-primary" href="?search=<?=$search?>&type=<?=$type?>&page=<?=$next_page ?>#SanPham" role="button">
			<span class="glyphicon glyphicon-arrow-right"></span>
			Next
		</a>
	<?php endif;?>
</div>

<?php endif; ?>
<?php
else :
while ($row = mysqli_fetch_assoc($rs)):
?>
<div class="col-sm-6 col-md-4">
	<div class="thumbnail fix" style="width: 100%">
		<img src="assets/img/Ruou/<?=$row["ProID"]?>/show.png" width = "130">
		<div class="caption fixbot">
			<h5><?= $row["ProName"] ?></h5>
			<h4 style="color:red; font-weight: bold;">Giá: <?=number_format($row["ProPrice"]);?> đ</h4>
			<p style="height: 40px"><?= $row["ProDes"] ?></p>
			<br>
			<p>
				<?php if ($_SESSION["admin"] != 1) : ?>
					<a href="ChiTiet.php?proid=<?=$row["ProID"]?>&catid=<?=$row["CatID"]?>&login=<?=$_SESSION["LogIn"]?>&back=-1" class="btn btn-primary" role="button">
						<span class="glyphicon glyphicon-eye-open"></span>
						Chi tiết
					</a>
				<?php endif; ?>

				<?php if ($_SESSION["admin"] != 1 && $row["Quantity"] > 0) : ?>
					<a class="btn btn-danger" onclick="Addcart(<?=$row["ProID"]?>);" role="button" type="button" id="btnAddItemToCart" name="btnAddItemToCart" data-id="<?=$row["ProID"]?>">
						<span class="glyphicon glyphicon-shopping-cart"></span>
						Đặt mua
					</a>
				<?php endif; if ($_SESSION["admin"] != 1 && $row["Quantity"] <= 0): ?>
				<a class="btn btn-danger" role="button" type="submit" id="btnAddItemToCart" data-log = "<?= $_SESSION["LogIn"]?>" name="btnAddItemToCart" data-id="<?=$row["ProID"]?>">
					<span class="glyphicon glyphicon-fire"></span>
					Hết hàng
				</a>
			<?php endif; ?>
			<?php if ($_SESSION["admin"] == 1) : ?>
				<a class="btn btn-danger" role="button" type="submit" id="btnUpdateItem" name="btnUpdateItem" href="updateProduct.php?ID=<?=$row["ProID"]?>">
					<span class="glyphicon glyphicon-edit"></span>
					Sửa
				</a>
			<?php endif; ?>
			<?php if ($_SESSION["admin"] == 1) : ?>					
				<a class="btn btn-danger" role="button" type="submit" id="btnDeleteItem" name="btnDeleteItem" href="deleteproduct.php?id=<?=$row["ProID"]?>">
					<span class="glyphicon glyphicon-remove"></span>
					Xóa
				</a>
			<?php endif; ?>
		</p>
	</div>

</div>	
</div>
<?php
endwhile;
endif;
?>


<?php if ($rs->num_rows==0):?>
	<div>Không có kết quả cần tìm</div>
<?php endif; ?>
</div>

<script type="text/javascript">
function Addcart(a){
   		var idsp = a;
		var log = <?= $_SESSION["LogIn"]?>;
		if(log == 1)
		{
			$('#txtProID').val(idsp);
			$('#txtQuantity').val('1');
			$('#f').submit();
		}
		else{
			confirm('Bạn phải đăng nhập để đặt mua sản phẩm :((');
		}
}
</script>